<img class="campsite-profile" {{bind-attr src=model.campImageURL}}/>

<h4>{{model.state}}</h4>
<h4>{{model.name}}</h4>
<p><strong>GPS coordinates:</strong> {{model.lat}} , {{model.long}}</p>

<p>Submitted by: {{model.submittedBy}}</p>

<p>Water source? {{model.waterSource}}</p>

<p>{{model.description}}</p>

{{#if isEditing}}
        {{partial 'campsite/edit'}}
        <button {{action 'doneEditing'}}>Done</button>
      {{else}}
        <button {{action 'edit'}}>Edit this campsite</button>
        <button {{action 'delete'}}>Delete</button>
      {{/if}}

<br><br><br>

{{#each comments}}
  <div class="message-frame">
    <h5>{{commentText}}</h5>
    <p>{{commentAuthor}}</p>
  </div>
      <br>
{{/each}}

{{#link-to 'new-comment' this.id class="btn btn-primary"}}Add a comment{{/link-to}}
<br>

{{outlet}}
