{{#if showingAll}}
<h1>Featured</h1>
  <div id="wrapper">
    <div id="columns">
      {{#each campsite in model}}
        {{#if campsite.isFeatured}}
          <div class="each-site">
            {{#link-to 'campsite' campsite.id}}<img src="{{campsite.campImageURL}}"/>{{/link-to}}
            <p>{{campsite.name}}</p>
            <p>Submitted by: {{campsite.submittedBy}}</p>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
{{else}}

<div id="myCarousel" class="carousel slide container" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://www.pnwboulders.com/wp-content/uploads/2013/11/P1000820-small.jpg" alt="Chania">
    <div class="carousel-caption">
      <h1>Featured Campsite</h1><hr>
      <p class="lead">Lorem ipsum dolor sit amet, facete democritum te pro, eam at odio oportere assentior. Sea ne nostrum complectitur. Eligendi forensibus at pro, pri no amet rebum abhorreant, qui erroribus constituto definitiones ut. Tantas constituam ne est. Cu vix assentior reprehendunt, eam id nibh scribentur, et sint illud delenit sit.</p>
    </div>
    </div>
    <div class="item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Forest-trail-trees_-_West_Virginia_-_ForestWander.jpg" alt="Chania">
      <div class="carousel-caption">
        <h1>Featured Campsite</h1><hr>
        <p class="lead">Lorem ipsum dolor sit amet, facete democritum te pro, eam at odio oportere assentior. Sea ne nostrum complectitur. Eligendi forensibus at pro, pri no amet rebum abhorreant, qui erroribus constituto definitiones ut. Tantas constituam ne est. Cu vix assentior reprehendunt, eam id nibh scribentur, et sint illud delenit sit.</p>
      </div>
    </div>
    <div class="item">
      <img src="http://www.lesstravelednorthwest.com/oregon_southeast/fish_creek/fish_creek_files/BIG5-fish-lake-cg.jpg.jpg" alt="Flower">
      <div class="carousel-caption">
        <h1>Featured Campsite</h1><hr>
        <p class="lead">Lorem ipsum dolor sit amet, facete democritum te pro, eam at odio oportere assentior. Sea ne nostrum complectitur. Eligendi forensibus at pro, pri no amet rebum abhorreant, qui erroribus constituto definitiones ut. Tantas constituam ne est. Cu vix assentior reprehendunt, eam id nibh scribentur, et sint illud delenit sit.</p>
      </div>
    </div>
    <div class="item">
      <img src="http://freecampsites.net/wp-content/uploads/2015/06/IMG_0519.jpg " alt="Flower">
      <div class="carousel-caption">
        <h1>Featured Campsite</h1><hr>
        <p class="lead">Lorem ipsum dolor sit amet, facete democritum te pro, eam at odio oportere assentior. Sea ne nostrum complectitur. Eligendi forensibus at pro, pri no amet rebum abhorreant, qui erroribus constituto definitiones ut. Tantas constituam ne est. Cu vix assentior reprehendunt, eam id nibh scribentur, et sint illud delenit sit.</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<button type="button" class="btn btn-block" {{action 'switch'}}>Browse featured</button>
{{/if}}
